.app-body{
	margin-top: 50px;
	 
}
 .nav-link.active{
  color: lightgreen;
}
.nav-link{
  color: green;
}
.dropdown-item{
  background-color: #313239ff;
  color: green;
}
.dropdown-item.active{
  color: lightgreen;
}

.dropdown-menu{
  background-color: #313239ff;
}

