/* form styles */

.form-container{
	padding: 30px;
}

.btn:hover{
	color: #313239ff;
	background-color: green;
} 
.btn{
	background-color: #313239ff;
} 



/* proposal list styles */

.proposal-link:hover{
	text-decoration: none;
}

/* proposal show styles */

.proposal-card{
	padding: 20px;
}

