.body{
	color: #313239ff;
	background-color: #313239ff;
}
.card{
	color: green;
	background-color: #313239ff;
	border-color: green;
	width: 70%; 
	margin-left: 15%; 
	margin-right: 15%
}
.btn:hover{
	color: #313239ff;
} 
.headline {
	color: #313239ff;
}
