.body{
	color: #313239ff;
	background-color: #313239ff;
}
.card{
	color: green;
	background-color: #313239ff;
	border-color: green;
}
.btn:hover{
	color: #313239ff;
} 
.headline {
	color: #313239ff;
}
